@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensure these elements fill the viewport */
  overflow: hidden; /* Prevent multiple scrollbars unless managed intentionally */
}

body {
  font-family: 'Inter', sans-serif; /* Use a valid font loaded in your HTML */
  @apply min-h-dvh bg-[linear-gradient(to_bottom,_#EEECE7,_#E7E4DF)] shadow-inner shadow-[#ccc]/30;
  @apply text-[#444] antialiased;
}

/* Background images */
@layer utilities {
  .hero-bg {
    background-image: url('/src/assets/images/HeroBackground-mobile.jpg');
  }

  @media (min-width: 640px) {
    .hero-bg {
      background-image: url('/src/assets/images/HeroBackground-tablet.jpg');
    }
  }

  @media (min-width: 1024px) {
    .hero-bg {
      background-image: url('/src/assets/images/HeroBackground-desktop.jpg');
    }
  }

  @theme {
    --color-primary: #E6D3C4;
    --color-subtitle: #C6B4A5;
    --color-border: #867C74;
    --color-secondary: #3D3732;
    --color-highlight: #FFFFFF;
    --color-silent: rgba(230, 211, 196, 0.5);
    --color-chill: #A49D94;
    --color-input: #3D3732;
  }

  .text-clip {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

  .text-shadow {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  }

  .text-shadow-lg {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  }

  @keyframes bg-pan-down {
    from {
      background-position: center 50%;
    }
    to {
      background-position: center 85%;
    }
  }



  @media (min-width: 640px) {
    @keyframes bg-pan-down {
      from {
        background-position: center 5%;
      }
      to {
        background-position: center 20%;
      }
    }
  }

  @media (min-width: 1024px) {
    @keyframes bg-pan-down {
      from {
        background-position: center 85%;
      }
      to {
        background-position: center 15%;
      }
    }
  }

  .animate-bg-pan-down {
    animation: bg-pan-down 2s ease-in-out forwards;
  }
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  z-index: -1;
  background: white;
  opacity: 0.4;
  backdrop-filter: blur(6px);
}

#root {
  display: flex; /* Use flexbox or grid for layout if necessary */
  flex-direction: column; /* Stack child components vertically */
  min-height: 100vh; /* Ensure #root stretches to at least the viewport height */
  overflow-y: auto; /* Allow vertical scrolling only within #root */
  scrollbar-width: thin; /* Thin scrollbar */
  scrollbar-color: #888 transparent; /* Thumb color and transparent track */
  scroll-behavior: smooth;
}

/* Webkit Browsers (e.g., Chrome, Edge, Safari) */
#root::-webkit-scrollbar {
  width: 2px; /* Width of the vertical scrollbar */
  height: 5px; /* Height of the horizontal scrollbar */
  z-index: 100;
}

#root::-webkit-scrollbar-track {
  background: transparent; /* Make the track transparent */
}

#root::-webkit-scrollbar-thumb {
  background-color: #888; /* Thumb background color */
  border-radius: 6px; /* Rounded corners for the thumb */
  border: 3px solid transparent; /* Padding around the thumb */
}

#root::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Thumb background on hover */
}